<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>Some bullshit</h1>
        <p>Try it out.  Sign up or create your first query below.</p>
        <form class="form-inline" role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Sign Up</button>
        </form>
      </div><!-- /col-lg-6 -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->

<div class="container full-width">
  <div class="row">
    <div class="top-margin-sm">
      <%= render 'templates/forms/queries/index_page_query_form' %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
