<div id="flash-notice" class="modal-alert" <%= 'hidden' if flash[:notice].nil? %>>
  <button type="button" class="close">x</button>
  <div class="message">
    <p><%= flash[:notice] %></p>
  </div>
</div>

<div id="flash-alert" class="modal-alert" <%= 'hidden' if flash[:alert].nil? %>>
  <button type="button" class="close">x</button>
  <div class="message">
    <p><%= flash[:alert] %></p>
  </div>
</div>

<script>
  $('.modal-alert').click(function() {
    $(this).fadeOut();
  })
</script>

