<footer class="container full-width">
  <div class="row">
    <div class="footer-links">
      Made by <%= link_to 'John Marinelli', 'http://johnmarinelli.me' %> <br/>
      <%= link_to 'Privacy Policy', '/privacy-policy' %>
    </div>
  </div>  
</footer>
