<!doctype html>
<html>
  <head>
    <meta content="text/html' charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <% @posts.each do |post| %>
      <h3><%= post[:heading] %></h3>
      <div class="location"><%= post[:location] %></div>
      <div class="price"><%= number_to_currency post[:price] %></div>
    <% end %>
  </body>
</html>
