<!doctype html>
<html>
  <head>
    <meta content="text/html' charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <% @posts.each do |post| %>
      <div class="email-post">
        <h3><%= post[:heading] %></h3>
        <% unless post[:img].nil? %>
          <img src="<%= post[:img] %>" />
        <% end %>
        <div class="location"><%= post[:location] %></div>
        <div class="price"><%= number_to_currency post[:price] %></div>
        <hr/>
      </div>
    <% end %>
  </body>
</html>
