<div class="pure-control-group">
  <%= qf.label :frequency_daily, 'Daily' %>
  <%= qf.radio_button :frequency, 'daily' %>
</div>

<div class="pure-control-group">
  <%= qf.label :frequency_weekly, 'Weekly' %>
  <%= qf.radio_button :frequency, 'weekly' %>
</div>
