<span class="error"><%= get_resource_error_message resource, :"queries.frequency" %></span>
<div class="pure-control-group">
  <label class="pure-radio">Daily 
    <%= qf.radio_button :frequency, 'daily', checked: true %>
  </label>
</div>

<div class="pure-control-group">
  <label class="pure-radio"> Weekly 
    <%= qf.radio_button :frequency, 'weekly' %>
  </label>
</div>
