<div class="pure-control-group">
  <%= qf.label :price_min %>
  <%= qf.number_field :price_min %>
</div>

<div class="pure-control-group">
  <%= qf.label :price_max %>
  <%= qf.number_field :price_max %>
</div>

