$sm-px:10px;
$md-px: 25px;

$sm-px-font: 12px;
$md-px-font: 24px;
$lg-px-font: 60px;

.top-margin-sm {
  margin-top: $sm-px;
}

.text-md {
  font-size: $md-px-font;
}


.full-width {
  width: 100%;
}

.pure-form {
  font-size: 1.1em;
}

.pure-control-group {
  margin: 3% 0px;
}
