$sm-px:10px;
$md-px: 25px;
$lg-px: 50px;
$xlg-px: 75px;

$default-container-side-padding: 15px;

$sm-px-font: 12px;
$md-px-font: 24px;
$lg-px-font: 60px;

$semi-transparent: rgba(0, 0, 0, .13);
$red: #e80000;
$green: rgb(31, 178, 7);

$mobile: "(min-width: 320px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

$absolute-top-z: 9999;


.top-margin {
  height: 50px;
}

.top-margin-sm {
  margin-top: $sm-px;
}

.text-md {
  font-size: $md-px-font;
}


.full-width {
  width: 100%;
}

.center-text {
  text-align: center;
}

.table {
  display: table;

  .table-row {
    display: table-row;

    .table-cell {
      display: table-cell;
    }
  }
}

.bg-red {
  background-color: $red;
}

.text-white {
  color: white;
}

.pure-form {
  font-size: 1.1em;
}

.pure-control-group {
  margin: 3% 0px;
}

@media #{$mobile} {
  .no-padding-mobile {
    padding: 0px;
  }
}
