.container.login {
  width: 50%;
  margin: auto;
  margin-top: 20vh;
  padding: $md-px;
  background-color: $semi-transparent;
}

@media #{$mobile} {
  .container.login {
    width: 100%;
    margin-top: 10vh;
    background-color: transparent;
  }
}
