
@media #{$mobile} {
  input[type="email"] {
    width: 100%;
    height: $xlg-px;
  }

  input[type="submit"] {
    width: 100%;
    margin-top: $sm-px;
  }

  legend {
    font-size: 1.5em;
  }

  input, select, input[type="submit"] {
    width: 100%;
    height: $xlg-px;
  }
}
